@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply h-screen w-screen overflow-x-hidden text-body;
    background: #fcfcfd;
}

/* Utilities */
.center-all {
    @apply flex items-center justify-center;
}

.layout-max-width {
    max-width: 1280px;
}

.layout {
    @apply layout-max-width mx-auto px-4;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #9898a8;
    background-clip: padding-box;
}

*::-webkit-scrollbar-thumb {
    background-color: #3e40d3;
    border-radius: 0px;
    border: 0;
}
