@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Roboto+Mono:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply h-screen w-screen overflow-x-hidden text-body;
}

/* Utilities */
.row {
    @apply flex items-center;
}

.col {
    @apply flex flex-col;
}

.center-all {
    @apply row justify-center;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: white;
    background-clip: padding-box;
}

*::-webkit-scrollbar-thumb {
    background-color: #f5f7fe;
    border-radius: 0px;
    border: 0;
}

/* Number input */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
}

button {
    font-weight: 500 !important;
    letter-spacing: 0 !important;
}
